{% load compress staticfiles %}
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <title>test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% compress css %}
    <link href='{% static "css/lib/bootstrap.min.css" %}' rel='stylesheet' />
    <link href='{% static "sass/wall.sass" %}' rel='stylesheet' type='text/x-sass' />
    {% block extra_css %}{% endblock %}
    {% endcompress %}

    {% compress js %}
    <script src='{% static "js/lib/jquery.min.js" %}'></script>
    <script src='{% static "js/lib/bootstrap.min.js" %}'></script>
    {% block extra_js %}{% endblock %}
    {% endcompress %}
</head>
<body>
    <div class='container'>
    <div class="page-header">
      <h1>Kage <small>quotes. because reasons</small></h1>
    </div>
    {% for q in quotes %}
    <div class='panel panel-default panel-quote'>
        <div class='panel-body'>&ldquo;{{ q.text }}&rdquo;</div>
        <div class='panel-footer'>{{ q.author }}</div>
    </div>
    {% endfor %}
    </div>
</body>
</html>
