{% load compress staticfiles %}
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <title>Kage no Inyo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% compress css %}
    <link href='{% static "css/lib/bootstrap.min.css" %}' rel='stylesheet' />
    <link href='{% static "sass/wall.sass" %}' rel='stylesheet' type='text/x-sass' />
    <link href='{% static "sass/footer.sass" %}' rel='stylesheet' type='text/x-sass' />
    {% block extra_css %}{% endblock %}
    {% endcompress %}

    {% compress js %}
    <script src='{% static "js/lib/jquery.min.js" %}'></script>
    <script src='{% static "js/lib/bootstrap.min.js" %}'></script>
    {% block extra_js %}
    {% if 'fries' in result %}
        <script src='{% static "js/fallingScript.js" %}'></script>
    {% endif %}
    {% endblock %}
    {% endcompress %}
    <script src="http://code.onion.com/fartscroll.js"></script>
    <script>fartscroll(200);</script>
</head>
<body>
    <div class='container'>
        <div class="page-header">
          <h1>Kage <small>quotes. because reasons</small></h1>
        </div>
        {% for q in quotes %}
        <blockquote class="{% cycle '' 'blockquote-reverse ' %}wall-quote">
            <p>&ldquo;{{ q.text }}&rdquo;</p>
            <footer>
                <cite title="{{ q.author }}">{{ q.author }}</cite> - {{ q.created }}
            </footer>
        </blockquote>
        {% endfor %}

        <br>
        <br>

        <div id='footer' class='container'>
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="navbar-inner navbar-content-center">
                    <center>
                    <span class='text-{% if result %}warning{% else %}muted{% endif %}'>
                        <img width="40px" src="{% static "img/skull.gif" %}" />
                        {{ date|date:"l" }}, {{ date }} 
                        {% if result %}({{ result }}){% endif %}
                        <img width="40px" src="{% static "img/skull.gif" %}" />
                    </span>
                    </center>
                </div>
            </nav>
        </div>

    </div>
</body>
</html>
